@model Inmobiliaria_2022.Models.Pago

@{
    ViewData["Title"] = "Detalles de Pago";
    ViewData["Inquilino"] = "Inquilino a cargo";
    var Contrato = (Contrato)ViewBag.contrato;

}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => Contrato.inmueble.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @ViewData["Inquilino"];
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => Contrato.inquilino.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEmision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEmision.Day) /
            @Html.DisplayFor(model => model.FechaEmision.Month) /
            @Html.DisplayFor(model => model.FechaEmision.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Importe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Importe)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-action="Index">Volver</a>
</div>
