@model Inmobiliaria_2022.Models.Pago

@{
    ViewData["Title"] = "Editar datos de Pago";
    List<Contrato> Contrato = (List<Contrato>) ViewBag.contrato;
}

<h1>@ViewData["Title"] </h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdContrato" class="control-label"></label>
                <select class="form-control" name="IdContrato">
                    @foreach (var item in Contrato)
                    {
                        if(item.IdContrato == Model.contrato.IdContrato)
                        {
                            <option selected value="@item.IdContrato">@item.inmueble.Direccion</option>
                        }
                        else
                        {
                            <option value="@item.IdContrato">@item.inmueble.Direccion</option>
                        }
                    }
                </select>
                <span asp-validation-for="IdContrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaEmision" class="control-label"></label>
                <input type="Date" asp-for="FechaEmision" class="form-control" />
                <span asp-validation-for="FechaEmision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Importe" class="control-label"></label>
                <input asp-for="Importe" class="form-control" />
                <span asp-validation-for="Importe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-primary" /> |
                <a class="btn btn-success" asp-action="Index">Volver</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
