@model IEnumerable<Inmobiliaria_2022.Models.Pago>

@{
    var nombre = "";
    ViewData["Title"] = "Inicio de pago";
    ViewData["Inquilino"] = "Inquilino a cargo";
    List<Contrato> ListaContrato = (List<Contrato>)ViewBag.contrato;

    var vista = ViewBag.VistaPago;
    if(vista)
    {
        ViewData["Title"] = "Pagos de Contrato";
    }
    else
    {
        ViewData["Title"] = "Inicio de Pago";
    }    
}

<h1>@ViewData["Title"]</h1>
    
    @if (!vista)
    {
        <p>
            <a asp-action="Create" class="btn btn-success">Ingresar un nuevo pago</a>
        </p>
    }

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdContrato)
            </th>
            <th>
                @ViewData["Inquilino"]
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEmision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPago)
            </td>
            <td>
                @foreach (var valor in ListaContrato) 
                {
                    if(item.contrato.IdContrato == valor.IdContrato)
                    {
                        @Html.DisplayFor(modelItem => valor.inmueble.Direccion)
                    }
                }
            </td>
            <td>
                @foreach (var dato in ListaContrato) 
                {
                    
                    if(item.contrato.IdInquilino == dato.inquilino.IdInquilino)
                    {
                        if(!nombre.Equals(dato.inquilino.Nombre))
                        {
                            @Html.DisplayFor(modelItem => dato.inquilino.Nombre)
                        }
                        nombre = dato.inquilino.Nombre;
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(model => item.FechaEmision.Day) /
                @Html.DisplayFor(model => item.FechaEmision.Month) /
                @Html.DisplayFor(model => item.FechaEmision.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Importe)
            </td>
            <td>
                @if(!vista)
                {
                    <a class="btn btn-warning" asp-action="Editar" asp-route-id="@item.IdPago" title="Editar"><i class="fas fa-pencil-alt"></i></a>
                }
                else
                {
                    <a class="btn btn-success" asp-action="RealizarPago" asp-route-id="@item.IdPago" title="Pagar"><i class="fas fa-money-bill"></i></a>
                }
                <a class="btn btn-info" asp-action="Detalles" asp-route-id="@item.IdPago" title="Detalles"><i class="fas fa-book"></i></a>
                @if (User.IsInRole("Administrador"))
                {
                    <a class="btn btn-danger" asp-action="Eliminar" asp-route-id="@item.IdPago" title="Eliminar"><i class="fas fa-trash-alt"></i></a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
