@model IEnumerable<Net.Models.Inmueble>

@{
    
    var dato = ViewBag.VistaPropietario;
    if(dato)
    {
        ViewData["Title"] = "Inmuebles de Propietario";
    }
    else
    {
        ViewData["Title"] = "Inicio de inmueble";
    }    
}

<h1>@ViewData["Title"]</h1>
    

    @if (!dato)
    {
        <div class="filtro">
            <h5>Filtrar por:</h5> 
            <a class="btn btn-success" asp-controller="Inmueble" asp-action="Index">Sin Orden</a> 
            <a class="btn btn-success" asp-controller="Inmueble" asp-action="ListarDisponible" asp-route-valor="0">No Disponible</a>
            <a class="btn btn-success" asp-controller="Inmueble" asp-action="ListarDisponible" asp-route-valor="1">Disponible</a>
        </div>

        <p>
            <a asp-action="Create" class="btn btn-success" id="botonCrear">Ingresar un nuevo Inmueble</a>
        </p>
    
    }

       



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ambientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ambientes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Editar" asp-route-id="@item.IdInmueble" title="Editar"><i class="fas fa-pencil-alt"></i></a>
                <a class="btn btn-info" asp-action="Detalles" asp-route-id="@item.IdInmueble" title="Detalles"><i class="fas fa-book"></i></a>
                @if (User.IsInRole("Administrador"))
                {
                    <a class="btn btn-danger" asp-action="Eliminar" asp-route-id="@item.IdInmueble" title="Eliminar"><i class="fas fa-trash-alt"></i></a>
                }
                <a class="btn btn-success" asp-controller="contrato" asp-action="ListarContratosPorInmuebles" asp-route-id="@item.IdInmueble"><i class="fas fa-scroll"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
