@model Net.Models.Contrato

@{
    ViewData["Title"] = "Ingresar un nuevo inmueble";
    var inmueble = (List<Inmueble>)ViewBag.inmueble;
    var inquilino = (List<Inquilino>)ViewBag.inquilino;
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdInmueble" class="control-label"></label>
                <select class="form-control" name="IdInmueble">
                    @foreach (var item in (List<Inmueble>)ViewBag.inmueble)
                    {
                        <option selected value="@item.IdInmueble">@item.Direccion</option>
                    }
                </select>
                <span asp-validation-for="IdInmueble" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdInquilino" class="control-label"></label>
                <select class="form-control" name="IdInquilino">
                    @foreach (var item in (List<Inquilino>)ViewBag.inquilino)
                    {
                        <option value="@item.IdInquilino">@item.Nombre</option>
                    }
                </select>
                <span asp-validation-for="IdInquilino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input type="date" asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFinal" class="control-label"></label>
                <input type="date" asp-for="FechaFinal" class="form-control" />
                <span asp-validation-for="FechaFinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" class="form-control" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" /> |
                <a class="btn btn-success" asp-action="Index">Volver</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
