@model Net.Models.Contrato

@{
    ViewData["Title"] = "Eliminar un contrato";
}

<h1>@ViewData["Title"]</h1>

<h3>¿Estas seguro de eliminar?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdInmueble)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inmueble.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdInquilino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inquilino.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio.Day) /
            @Html.DisplayFor(model => model.FechaInicio.Month) /
            @Html.DisplayFor(model => model.FechaInicio.Year) 
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFinal.Day) /
            @Html.DisplayFor(model => model.FechaFinal.Month) /
            @Html.DisplayFor(model => model.FechaFinal.Year) 
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
    </dl>
    
    <form asp-action="Eliminar">
        <input type="submit" value="Eliminar" class="btn btn-primary" /> |
        <a class="btn btn-success" asp-action="Index">Volver</a>
    </form>
</div>
