@model IEnumerable<Inmobiliaria_2022.Models.Contrato>

@{
    var dato = ViewBag.VistaContrato;
    if(dato)
    {
        ViewData["Title"] = "Contratos de inmuebles";
    }
    else
    {
        ViewData["Title"] = "Inicio de Contrato";
    }    
}

<h1>@ViewData["Title"]</h1>
    
    @if (!dato)
    {
        <div class="filtroContratos">
            <h5>Mostrar contratos vigentes:</h5> 
            <a class="btn btn-success" asp-controller="contrato" asp-action="Index">Todos los Contratos</a>
            <a class="btn btn-success" asp-controller="contrato" asp-action="ContratoVigentes">Contratos Vigentes</a> 
            <a class="btn btn-success" asp-controller="contrato" asp-action="ContratoNoVigentes">Contratos No Vigentes</a>
        </div>

        <p>
            <a asp-action="Create" class="btn btn-success" id="botonCrear">Ingresar un nuevo Contrato</a>
        </p>
    }

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdContrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdInmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdInquilino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdContrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inmueble.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inquilino.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio.Day) /
                @Html.DisplayFor(modelItem => item.FechaInicio.Month) / 
                @Html.DisplayFor(modelItem => item.FechaInicio.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinal.Day) /
                @Html.DisplayFor(modelItem => item.FechaFinal.Month) / 
                @Html.DisplayFor(modelItem => item.FechaFinal.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Editar" asp-route-id="@item.IdContrato" title="Editar"><i class="fas fa-pencil-alt"></i></a>
                <a class="btn btn-info" asp-action="Detalles" asp-route-id="@item.IdContrato" title="Detalles"><i class="fas fa-book"></i></a>
                @if (User.IsInRole("Administrador"))
                {
                    <a class="btn btn-danger" asp-action="Eliminar" asp-route-id="@item.IdContrato" title="Eliminar"><i class="fas fa-trash-alt"></i></a>
                }
                <a class="btn btn-success" asp-controller="pago" asp-action="ListarPagosPorContratos" asp-route-id="@item.IdContrato"><i class="fas fa-scroll"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
