@model IEnumerable<Net.Models.Contrato>

@{
    ViewData["Title"] = "Inicio de contrato";
}

<h1>@ViewData["Title"]</h1>
<p>
    <a asp-action="Create">Ingresar un nuevo Contrato</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdContrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdInmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdInquilino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdContrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inmueble.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inquilino.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio.Day) /
                @Html.DisplayFor(modelItem => item.FechaInicio.Month) / 
                @Html.DisplayFor(modelItem => item.FechaInicio.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinal.Day) /
                @Html.DisplayFor(modelItem => item.FechaFinal.Month) / 
                @Html.DisplayFor(modelItem => item.FechaFinal.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Editar" asp-route-id="@item.IdContrato" title="Editar"><i class="fas fa-pencil-alt"></i></a>
                <a class="btn btn-info" asp-action="Detalles" asp-route-id="@item.IdContrato" title="Detalles"><i class="fas fa-book"></i></a>
                @if (User.IsInRole("Administrador"))
                {
                    <a class="btn btn-danger" asp-action="Eliminar" asp-route-id="@item.IdContrato" title="Eliminar"><i class="fas fa-trash-alt"></i></a>
                }
                
            </td>
        </tr>
}
    </tbody>
</table>
